# Build and .vs Engine
Caerus\ Engine/.vs
Caerus\ Engine/Minigin/x64
Caerus\ Engine/Minigin/x84
Caerus\ Engine/Minigin/Win32
Caerus\ Engine/Win32
Caerus\ Engine/x64
Caerus\ Engine/x86

# Build for Game
Caerus\ Engine/QbertGame/x64
Caerus\ Engine/QbertGame/x86
Caerus\ Engine/QbertGame/Win32