# Build and .vs Engine
CaerusEngine/.vs
CaerusEngine/Minigin/x64
CaerusEngine/Minigin/x84
CaerusEngine/Minigin/Win32
CaerusEngine/Win32
CaerusEngine/x64
CaerusEngine/x86

# Build for Game
CaerusEngine/QbertGame/x64
CaerusEngine/QbertGame/x86
CaerusEngine/QbertGame/Win32